.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background: var(--black-50);
    padding: 1rem 0.5rem;
}

.logo {
    width: 8rem;
}

.avatar {
    width: 2.5em;
}

.avatar img {
    border-radius: .25rem;
}